<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Recession Prediction</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='d3.js') }}"></script>
    </head>
    <body>
        <div class="container">
              {% include "_nav.html" %}
              {% block body %}
              {% endblock body %}
        </div>
    </body>
</html>
