{% extends "_app.html" %}
{% block body %}
<h3>Can you guarantee you'll be right?</h3>
<p>Of course not! These predictions are only statistical guesses,
  and there are any number of ways in which they could go wrong.
  Most obviously, this model makes predictions based off the
  aggregate actions of the people buying and selling US treasury bonds.
  If something happens that those people did not anticipate, such
  as a natural disaster, then there is no way for the model to
  anticipate it either.</p>
<h3>We're open source!</h3>
<p>The source code for our model is available on <a href="
    https://github.com/lionelbarrow/canary_model"><u>Github</u></a>.</p>
<h3>Who made this site?</h3>
<p class="p1">This site was mostly made by
  <u><a href="http://www.lionelbarrow.com/">Lionel Barrow</a></u>
  and Jack Barrow in August, 2011. Lionel has a BA in mathematics from
  Bard; Jack is studying economics and mathematics at Loyola
  University Maryland. They first became interested in predicting recessions
  in 2008, when the Great Recession came close to forcing them
  out of college.
</p>
<h3>How can I get in touch with you?</h3>
<p>Email us at <a href="mailto:lionelbarrow@gmail.com">lionelbarrow@gmail.com</a>.</p>
{% endblock body %}
