{% extends "_app.html" %}
{% block body %}
            <div id="text">
            <div id="elaboration">
                <h3>Why does this work?</h3>
                <p class="p1">Investors buying US treasury bonds typically
                demand to be paid higher interest rates on long-term bonds than on short
                term-bonds. This reflects two things: the greater risk inherently
                associated with buying a longer-term asset, and the fact that
                holding money in the present is more valuable than holding
                it in the future.</p>
                <p class="p2">Rarely, however, investors demand higher
                interest rates from short-term bonds than from long-term bonds.
                This behavior indicates that they believe that holding a small
                amount of money in the short term will be much more valuable than
                holding a larger amount of money in the long term. This can
                indicate that a recession is imminent. More generally, some
                economists believe that the distribution of these interest rates
                - generally referred to as the
                <u><a href="http://en.wikipedia.org/wiki/Yield_curve">yield curve</a></u>
                - can be used to forecast economic growth<a href="#references">
                [4]</a>.</p>
                <p class="p3">This regression takes advantage of this expectation
                by using the spread (difference) of the two rates as its main
                feature. However, interest rates can vary for reasons other than
                the general state of the economy, so the model also includes the
                rate at which banks lend each other money overnight, the Federal
                funds rate (FFR), to account for the interest
                rate environment.</p>
            </div>
            <div id="history">
                <h3>How has this algorithm done historically?</h3>
                <p>The model is trained using historical data from January 1964
                onwards. Before this point in US history, most long-term bonds
                were either callable or redeemable to pay estate taxes, making
                them structurally dissimilar to modern long-term bonds <a href="#references">[1]</a>.</p>

                <p>Since 1964 there have been 7 periods classified by the National
                Bureau of Economic Research (NEBR) as recessions. Note that the
                NEBR does not define a recession as two or more consecutive quarters of
                negative growth as is common in the media; a NEBR recession
                is the period of time between the peak of the business cycle and
                its trough.</p>

                <p>If we start the algorithm at 1964 and play it forward, it
                successfully predicts 6 of the 7 NEBR recessions: it fails to
                predict the mild recession in the early 1990s but gets
                everything else. Additionally, it throws a single false positive:
                it predicts a recession in the late 60s that never happened.
                The chart below shows the model's performance over the entire
                period, with black verticle lines drawn for months when the
                economy was in recession.</p>
                <img src="{{STATIC_URL}}/alltime_model.png"/>
                <p>In this context, the phrase "the model predicted the recession"
                means that at some point in the period 6 to 12 months before the
                recession began, the estimated probability of future recession
                rose above 50%.</p>
            </div>
            <div id="explanation">
                <h3>How are these numbers calculated?</h3>
                <p class="p1">The probabilities we display are output by a
                probit CDF regression using historical data, averaged monthly from
                1964 to the present day. Two sources of data are used in the regression:
                the spread between the yields of 6-month and 10-year US Treasury
                notes, and the Federal funds rate. This model is mostly derived
                from a 2007 paper by Wright <a href="#references">[1]</a>, with
                modifications inspired by more recent papers
                <a href="#references">[2]</a><a href="#references">[3]</a>.</p>
            </div>
            <div id="references">
                <h3>References</h3>
                <p>1. <a href="http://www.federalreserve.gov/pubs/feds/2006/200607/200607pap.pdf">
                Wright, Jonathan H. "The Yield Curve and Predicting Recessions" (2007).
                Working Papers, Federal Reserve Board, Washington, DC.</a>
                <p>2. <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1006838">
                Rudebusch, Glenn D., Sack, Brian P. and Swanson, Eric T.,
                "Macroeconomic Implications of Changes in the Term Premium"
                (November 2006). Working Papers, Federal Reserve Bank of San
                Francisco.</a></p>
                <p>3. <a href="http://pubs.amstat.org/doi/abs/10.1198/jbes.2009.07213?journalCode=jbes">
                Rudebusch, Glenn D., Williams, John C. "Forecasting Recessions: The
                Puzzle of the Enduring Power of the Yield Curve" (2009). Journal
                of Business and Economic Statistics. October 1, 2009, 27(4): 492-503.</a></p>
                <p>4. <a href="http://www.sciencedirect.com/science/article/pii/S0304407605000163">
                Andrew Ang, Monika Piazzesi, and Min Wei. "What does the yield
                curve tell us about GDP growth?" (2006). Journal of Econometrics,
                March-April 2006: 359-403.</a></p>
            </div>
            <br>
            </div>
{% endblock body %}
